# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
/.venv

/Summaries
token.pickle
credentials.json

config/channels.yaml
logs/yt2md.log
setup-yt2md-schedule.ps1
run-yt2md-daily.ps1
yt2md_daily.log
