# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
/.venv

/Summaries
token.pickle
credentials.json

config/channels.yaml
logs/yt2md.log
run-yt2md-task-pm.ps1
run-yt2md-task.ps1
setup-yt2md-schedule.ps1
